body {
    background-color: rgb(193, 212, 193);    
  }
  
.cabecera {
    display: inline;
}
.logo {
    height: 70px;
    width: 190px;
}

  h1 {
    color: rgb(24, 116, 32);
    text-align: center;
  }

#contacts {
    border: 2px red solid ;
}

#messages {
    height: 400px;
    width: 600px;
    border: 2px blue solid ;
    background-image: url("../assets/fondo.png");
    opacity: 0.5;
    filter: grayscale(50%);
}
