body {
    background-color: rgb(193, 212, 193);    
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 700px; 
  }

.bg-color-cet {
    background-color: rgb(193, 212, 193);   
}

#titol {
    font-size: 45px;
    padding-left: 15px;
}

/* nav {
  navbar navbar-expand-lg fixed-top bg-danger text-white
} */

.cabecera {
    display: inline;
}
.logo {
    height: 70px;
    width: 190px;
}

  h1 {
    color: rgb(24, 116, 32);
    text-align: center;
  }

#contacts {
    border: 2px red solid ;
}

#newMsg {
  width: 380px;
  height: 100px;
  background-color: rgb(193, 212, 193);    
}

#messages {
    margin-top: 50px;
    margin-bottom: 260px;
    height: 100%;
    width: 600px;
    border: none;
    background-image: url("../assets/fondo.png");

    opacity: 0.3;
    filter: grayscale(50%);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 160%;
    font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: rgb(24, 116, 32);
  color: whitesmoke;
}

tr {
  border-bottom: 2px solid rgb(24, 116, 32);
}

tr:nth-child(even) {
  /* background-color: #aecece; */
  opacity: 0.9;
}

tr:hover {
  background-color: #e8eba1;  
}
